
.allPostsContainer {
    padding-top: 15px;
    margin: 0 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
    /* border: 1px solid red; */
}

.postContainer{
 margin: 60 400px;
 display: flex;
 /* flex-wrap: wrap; */
 flex-direction: column;
 /* align-items: center; */
  /* border: 3px solid green;  */
  width: auto;
  border: 1px solid red;
  height: auto;
}

.postsDiv {
    height: 400px;
    width: 300px;
    object-fit: none;
    object-position: 50% .5;
    padding: 3px;
    width: 10 vw;
}


.legoImg {
    /* border: 3px solid green; */
    width: 300px;
    height: 300px;
}

.editbtn {
    cursor: pointer;
}

.byUserLink {
    color: #7EA92F;
     text-decoration: none;
}

.postTitle{
    color:#121212;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    /* font-size: 14px; */
}

.postTitle:hover {
    color: #5e5c5c;
    font-weight: 300;
}

.byUserLink:hover {
  color: #5e5c5c;
}

.PostImage, .instructionsImage {
    width: 650px;
    height: 485px;
    /* display: flex; */
   /* justify-content: center; */
  margin: 0 auto;
    /* border: 3px solid red;  */

}

.profileTitle {
    color: #414141;
    margin-top: 0;
    background-color: #ECE288;
    font-weight: 300;
    height: 65px;
     margin-right: 145px;
  margin-left: 120px;
}

.postTabsBtn {
    border: none;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
padding: 8px;
}

.postTabsBtn:hover {
    cursor: pointer;
    background-color: #7EA92F;
    color: #FFFFFF;
}

.userImgPost {
    width: 50px;
    height: 50px;
}

.linkUserNameComment {
    text-decoration: none;
    color: #7EA92F;
}

.linkUserNameComment:hover, .editCLink:hover {
    color: #414141;
    cursor: pointer;
}
.allComments {
    margin-bottom: 20px;
}
.commentDiv{
margin-top: 10px;
margin-left: 0;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: row;
}
.userInfoC {
    margin-top: 15px;
    width: 85px;
    margin-right: 14px;
}
.editCLink {
text-decoration: none;
color: rgb(40, 164, 201);

}

.deleteCBtn {
    border: none;
    background-color: #FFFFFF;
    color: red;
   
}
.deleteCBtn:hover {
    cursor: pointer;
    font-weight: 800;
}

.editCommentContainer {
 margin-left: 650px;
 margin-right: 650px;
 display: flex;
 flex-direction: column;
 height: 850px;
}

.EditCForm {
    margin-top: 100px;
}
.editCTitle {
    color: #7EA92F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.editCInput{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 6px 12px;
  width: 230px;
  border: 1px solid #ccc;
  line-height: 1;
}

.updateCBtn, .AddCPost {
background-color: #7EA92F;
color: #FFFFFF;
border: none;
border-radius: 4px;
padding: 7px;
}

.updateCBtn:hover, .AddCPost:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #7EA92F;
}

.pDetails, .submitCForm {
font-family: Arial, Helvetica, sans-serif;
margin-top: 10px;
margin-bottom: 25px;
}

.editDeleteBtns {
 margin-top: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    width: auto;
    height: auto;
}

.profilPosterInfo {
flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.postInformation {
    flex: 3;
    border:2px solid red;
}

.titleUsername{
    color: #414141;
    text-decoration: none;
    font-weight: 600;
}

.titleUsername:hover {
     color: rgb(40, 164, 201);
     cursor: pointer;
}

.instructionsImage {
    margin-top: 15px;
    margin-bottom: 25px;
}
/* .postPContainer {
    border: 2px solid red; */
@media (max-width: 1280px) {
  .PostImage, .instructionsImage {
    width: 350px;
    height: 285px;
       /* border: 1px solid purple; */
       display: flex;
}
}
