.allPostsContainer {
    padding-top: 15px;
    margin: 0 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 140px;
    margin-right: 140px;
}
.postContainer {
 margin: 0 400px;
 display: flex;
 /* flex-wrap: wrap; */
 flex-direction: column;
  /* border: 3px solid green; */
}

.postsDiv {
    height: 400px;
    width: 300px;
    object-fit: none;
    object-position: 50% .5;
    padding: 3px;
    width: 10 vw;
}


.legoImg {
    /* border: 3px solid green; */
    width: 300px;
    height: 300px;
}

.editbtn {
    cursor: pointer;
}

/* .commentDiv {
    border: 3px solid green;
} */

.byUserLink {
    color: #7EA92F;
     text-decoration: none;
}

.postTitle{
    color:#121212;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    /* font-size: 14px; */
}

.postTitle:hover {
    color: #5e5c5c;
    font-weight: 300;
}

.byUserLink:hover {
  color: #5e5c5c;
}

.PostImage, .instructionsImage {
    width: 650px;
    height: 485px;
}

.profileTitle {
    color: #414141;
    margin-top: 0;
    background-color: #ECE288;
    font-weight: 300;
    height: 65px;
     margin-right: 145px;
  margin-left: 120px;
}

.postTabsBtn {
    border-bottom: none;
}

.postTabsBtn:hover {
    cursor: pointer;
}

.userImgPost {
    width: 50px;
    height: 50px;
}

.linkUserNameComment {
    text-decoration: none;
    color: #7EA92F;
}

.linkUserNameComment:hover {
    color: #414141;
    cursor: pointer;
}

.commentDiv{
    margin-top: 10px;
margin-left: 0;
display: flex;
    flex-direction: row;
}