.profileImg {
    width: 150px;
    height: 195px;
}

.postImg {
    width: 300px;
    height: 300px;
}

.profileContainer {
 margin-right: 445px;
  margin-left: 420px;
  display: flex;
}

/* .profileDivTitle {
 padding: 10px 15px;
} */

.profileHeadline {
    margin-top: 0;
      margin-right: 145px;
  margin-left: 120px;
    background-color: #ECE288;
    height: 65px;
    font-weight: 300;
    color: #414141;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    padding: 8px 15px;
  }

.editProBtn {
    border: none;
    color: #7EA930;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.editProBtn:hover {
    cursor: pointer;
    color: #414141;
}

.profileUsername {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #414141;
}

.postTitleLink {
    text-decoration: none;
    color: #2b2a2a;
    /* margin-bottom: 200px;
    border: 3px solid red; */
}

.postTitleLink:hover{
    cursor: pointer;
    color: #7EA930;
}
.profilePostDiv {
    flex: 3;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin-bottom: 50px; */
}

.ProfileInfo {
    flex: 1;
}

.insidePostdiv {
    margin-bottom: 25px;
}
.updateMocLink{
    padding: 15px;
    text-decoration: none;
    color: #2b2a2a;
}

.updateMocLink:hover{
   color: #7EA930;
}

.deletePostBtn {
    border: none;
    background-color: red;
    color: #fffFFF;
    border-radius: 8px;
    padding: 5px;
}
.deletePostBtn:hover {
    cursor: pointer;
    background-color: #fffFFF;
    color: red;
}

.updateMocForm{
    /* margin-top: 200px;
  margin-right: 245px;
  margin-left: 220px; */
 padding: 50px;
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  /* justify-self: center; */
  align-self: center;
  flex-direction: column;
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
}

.inputForm {
  padding: 6px 12px;
  width: 230px;
  border: 1px solid #ccc;
  line-height: 1;
  margin-top: 5px;
}

.editProfileDiv {
    width: 300px;
height: 300px;
 padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.updateProfileBtn {
    background-color: #7EA930;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #fffFFF;
    width: 100px;
}

.updateProfileBtn:hover {
    cursor: pointer;
    background-color: #fffFFF;
    color: #7EA930;
}

.editProfileForm {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #2b2a2a;
}

.editProTitle {
    color: #28A4C9;
    margin-bottom: 15px;
    font-size: 25px;

}

/* .editLabelPro {
    margin-top: 30px;
} */