.registerContainer {
  margin-top: 100px;
    margin-right: 450px;
  margin-left: 320px;
   display: flex;
  /*flex-direction: column; */
  color: #414141;
  font-family: Arial, Helvetica, sans-serif;
}

.registerFormBtn {
    background-color: #7EA92F;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 14px;
    border: none;
  color: #FFFFFF;
}

.registerFormBtn:hover {
    cursor: pointer;
    background-color: #8AB933;
}

.registerForm {
     display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 800px; */
  height: 300px;
  flex: 1;
margin-left: 25px;
}

.registerFormInput {
    border: none;
    padding: 6px 12px;
    margin: 0 0 6px;
    border-radius: 4px;
}

.registerFormInput:hover {
  border: 1px solid #414141;
}

.h1heading {
    /* border: solid;
    border-bottom-color: #8ab933; */
    border-bottom: 3px solid #8ab933;
    font-weight: 300;
}

.whyList {
       /* display: flex;
  flex-direction: column; */
      flex: 3;

}

ul {
list-style: none;
padding: 8px 0;
}

.registerRocket {
  color: #414141;
}

.boldList {
  font-weight: 600;
}
/* .whyParagraph{
  display: flex;
  flex-wrap: wrap;
} */

.listofWhy {
  padding: 8px 0;
}

@media (max-width: 1280px) {
.registerContainer{
 margin-right: 150px;
  margin-left: 120px;
}
}