.profile-dropdown {
  position: absolute;
  color: #fff;
  margin-top: 75px;
  background: #333;
  padding: 25px;
  list-style-type: none;
  z-index: 1;
}

.navcontainer {
  background-color: #333333;
  height: 65px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 145px;
  margin-left: 120px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: flex;
  justify-content: flex-end;
}


/* .profileBtn {
  background-color: #333333;
  border: none;
  color: #FFFFFF;
  font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}  */

/* .MOCBtn, .aboutLink {
  background-color: #333333;
  border: none;
  color: #FFFFFF;
  font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
} */

/* .aboutLink {
padding: 1px 6px;
} */

.homeLink {
  margin-right: 30px;
  margin-left: 50px;
  }

/* .MOCBtn:hover, .profileBtn:hover, .aboutLink:hover {
cursor: pointer;
background-color: #7EA92F;
} */

.fa-rocket, .fa-user {
  line-height: 35px;
  background-color: none;
  color: #FFFFFF;
}
.logoutBtn{
  border: none;
  background-color: #333333;
  color: #FFFFFF;
  width: 100%;
}

.logoutBtn:hover {
background-color: #7EA92F;
cursor: pointer;
}

.profileLink {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%
}

.profileLink:hover {
  background-color: #7EA92F;
}

.demoBtn {
  cursor: pointer;
  background-color: #333333;
  border: none;
  color: #FFFFFF;
}

.demoBtn:hover{
  color: #7EA92F;
}

.registerBtn {
cursor: pointer;
  background-color: #333333;
  border: none;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 27px;
  padding: 1px 6px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.registerBtn:hover{
  color: #7EA92F;
  
}

.homebLogo {
 width: auto;
height: 73px;
}

.addMocForm {
  width: 300px;
height: 300px;
 padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.submitMocBtn {
  background-color: #7EA92F;
  border:none;
  padding: 6px 12px;
  color:#FFFFFF;
  width: 100px;
  border-radius: 5px;
  margin-top: 30px;
}

.submitMocBtn:hover {
cursor: pointer;
background-color: #8AB933;
}

.addMocInput {
  padding: 6px 12px;
  width: 230px;
  border: 1px solid #ccc;
  line-height: 1;
  margin-top: 15px;
}

.submitMocFormTitle {
color: #434343;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.aboutTitle {
    color: #414141;
    margin-top: 0;
    background-color: #ECE288;
    font-weight: 300;
    height: 65px;
    margin-right: 145px;
  margin-left: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px; 
padding-left: 20px;
padding-top: 15px;
}

.aboutH2{
color: #414141;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
  font-weight: 300;
}
.aboutContainer {
  margin-right: 160px;
  margin-left: 180px;
}

.aboutParagraph {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color:#676464;
}

.mathSigns {
 color:#676464;
 font-size: 80px;
 padding: 40px;
}

.picturesAbout {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.legoCap{
  display: flex;
justify-content: center;
color:#676464;
}

.footerContainer{
  display: flex;
   position: fixed;
   bottom: 0;
   /* background-color: red; */
   background-color: #333333;
   width: 100%;
   padding: 10px;
   margin-top: 50px;
   justify-content: center;
  align-items: center;
  margin-left: 0;
}

.linkedInLink {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding-left: 6px;
  padding-right: 6px;
}
.linkedInLink:hover {
  color: #7EA92F;
}

@media (max-width: 1280px) {
  .aboutContainer {
    width: auto;
    height: auto;
        margin: 0 160px;
}
.photoDivs {
   width: auto;
    height: auto;
}
.mathSigns {
font-size: 23px;
 padding: 8px;
 margin-top: 60px;
 margin-left: 0;
 margin-right: 0;
}
}

.searchDiv {
position: absolute;
background-color: #FFFFFF;
}

.resultLink {
  text-decoration: none;
  color: #333333;
  
}

.resultLink:hover {
   color: #7EA92F;
}

.searchInput {
  padding: 6px;
  border-radius: 5px;
}