.loginModalContainer {
width: 300px;
height: 300px;
 padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.loginBtn{
cursor: pointer;
  background-color: #333333;
  border: none;
  color: #FFFFFF;
}
.loginBtn:hover{
  color: #7EA92F;
}

/* .formLogin {
  display: flex;
  flex-direction: column;
} */

.createAccountLink {
  text-decoration: none;
  color: #7EA92F;
}
.createAccountLink:hover {
  color: #434343;
}

.h3login {
  color: #434343;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.loginModalBtn {
  background-color: #7EA92F;
  border:none;
  padding: 6px 12px;
  color:#FFFFFF;
  width: 100px;
  border-radius: 5px;
  margin-top: 30px;

}
.loginModalBtn:hover {
  cursor: pointer;
  background-color: #8AB933;
}
.loginLabelModal {
  background-color: #EEEEEE;
 padding: 5px 10px;
 width: 20px;
 border: 1px solid #ccc;
  /* border-radius: 4px; */
  border-left: none;
}

.inputLoginModal {
  padding: 6px 12px;
  width: 230px;
  border: 1px solid #ccc;
  /* border-radius: 4px;
  border-radius: le; */
  line-height: 1;
  margin-top: 15px;
}
/* #979797 */
