.loginModalContainer {
width: 500px;
height: 500px
}

.loginBtn{
cursor: pointer;
  background-color: #333333;
  border: none;
  color: #FFFFFF;
}
.loginBtn:hover{
  color: #7EA92F;
}

.formLogin {
  display: flex;
  flex-direction: column;
}

.createAccountLink {
  text-decoration: none;
  color: #7EA92F;
}
.createAccountLink:hover {
  color: #434343;
}

.h3login {
  color: #434343;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.loginModalBtn {
  background-color: #7EA92F;
  border:none;
  padding: 6px 12px;
  color:#FFFFFF;
}
.loginModalBtn:hover {
  cursor: pointer;
}
.loginLabelModal {
  background-color: #EEEEEE;
}

/* #979797 */
